/AllTests.class
/Customer.class
/CustomerTest.class
/Kitchen.class
/KitchenApp.class
/KitchenController.class
/KitchenObserver.class
/KitchenObserverInterface.class
/KitchenObserverTest.class
/KitchenTest.class
/MealsBought.class
